<div class="modal-header">
    <h4 class="modal-title">Thông tin chi tiết</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row d-flex">
        <div class="col-6 mb-3">
            <button class="btn bg-primary text-white" (click)="createNKSLK()">Thêm NKSLK</button>
        </div>
    </div>
    <div *ngFor="let nkslk of nkslkNhanCong" class="row">
        <div class="line"></div>
        <div class="col-6">
            <div class="form-group">
                <label>Họ và tên</label>
                <input
                    [value]="nkslk.hoTen"
                    type="text" 
                    class="form-control" 
                    placeholder="Họ và tên nhân công">
            </div>
            <div class="form-group">
                <label>Ngày sinh</label>
                <input
                    [value]="nkslk.ngaySinh"
                    type="text" 
                    class="form-control" 
                    placeholder="Ngày sinh">
            </div>
            <div class="form-group">
                <label>Phòng ban</label>
                <input
                    [value]="nkslk.phongBan"
                    type="text" 
                    class="form-control" 
                    placeholder="Phòng ban">
            </div>
            <div class="form-group">
                <label>Chức vụ</label>
                <input
                    [value]="nkslk.chucVu"
                    type="text" 
                    class="form-control" 
                    placeholder="Chức vụ">
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label>Công việc</label>
                <input
                    [value]="nkslk.tenCongViec"
                    type="text" 
                    class="form-control" placeholder="Công việc">
            </div>
            <div class="form-group">
                <label>Giờ bắt đầu</label>
                <input
                    [value]="nkslk.gioBatDau?.hours"
                    type="text" 
                    class="form-control" placeholder="">
            </div>
            <div class="form-group">
                <label>Giờ kết thúc</label>
                <input
                    [value]="nkslk.gioKetThuc?.hours"
                    type="text" 
                    class="form-control" placeholder="">
            </div>
        </div>
    </div>
    
</div>
