<html>
  <head>
    <style>
      table, td, th {
        border: 1px solid black;
      }
      
      table {
        width: 90%;
        border-collapse: collapse;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }
    </style>
  </head>
  <body>
    <div style="margin-right: auto;">
      <a type="button" class="btn btn-primary">Tạo công việc mới</a>
    </div>
    <div>
      <table class="table" >
        <thead>
          <tr>
            <th scope="col">Tên công việc</th>
            <th scope="col">Định mục khoán</th>
            <th scope="col">Đơn vị khoán</th>
            <th scope="col">Hệ số khoán</th>
            <th scope="col">Định mức lao động</th>
            <th scope="col">Đơn giá</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let congViec of congViecs | async; let i = index">
            <td>{{congViec.tenCongViec}}</td>
            <td>{{congViec.dinhMucKhoan}}</td>
            <td>{{congViec.donViKhoan}}</td>
            <td>{{congViec.heSoKhoan}}</td>
            <td>{{congViec.dinhMucLaoDong}}</td>
            <td>{{congViec.donGia}} VNĐ</td>
            <td>
                <button class="btn btn-secondary"> Sửa</button>
                <button type="button" class="btn btn-danger" data-toggle="modal" (click)="deleteCongViec(congViec)">
                  Xóa
                </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  <!-- Modal -->
  <!-- <ng-template #modal let-modal>
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Xóa</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Bạn có muốn xóa hay không ?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            <button (click)="deleteEmployee()" type="button" class="btn btn-primary">Xác nhận xóa</button>
          </div>
        </div>
      </div>
    </div>
  </ng-template> -->
  </body>
</html>