<html>
  <head>
    <style>
      table, td, th {
        border: 1px solid black;
      }
      
      table {
        width: 90%;
        border-collapse: collapse;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }
      
      h1, h2 {
        margin-top: 15px;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1 id="title_page">QUẢN LÝ SẢN PHẨM</h1>
    <div style="margin-right: auto;  margin: 15px;">
      <a type="button" class="btn btn-primary" (click)="creatSanPham()">Tạo sản phẩm mới</a>
    </div>

    <section class="content-body">
      <div class="card shadow-lg p-3 m-5 bg-white rounded">
          <div class="card-body">
              <div class="row d-flex flex-row">
                  <div class="col-5">
                      <h5>Danh mục sản phẩm có ngày đăng ký trước ngày:</h5>
                  </div>
                  <div class="col-3">
                    <input [(ngModel)]="dateSanPhamDangKyTruocNgay" type="date"/>
                </div>
                  <div class="col-3">
                      <button class="btn bg-primary text-white" (click)="getSanPhamDangKyTruocNgay()">Tìm</button>
                  </div>
              </div>

              <div class="row">
                <table class="table" >
                  <thead>
                    <tr>
                      <th scope="col">Mã sản phẩm</th>
                      <th scope="col">Tên sản phẩm</th>
                      <th scope="col">Số đăng ký</th>
                      <th scope="col">Hạn sử dụng</th>
                      <th scope="col">Quy cách</th>
                      <th scope="col">Ngày đăng ký</th>
                      <th scope="col">Ngày sản xuất</th>
                     
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let sanPham of sanPhamsBeforeDate">
                      <td>{{sanPham.maSanPham}}</td>
                      <td>{{sanPham.tenSanPham}}</td>
                      <td>{{sanPham.soDangKy}}</td>
                      <td>{{sanPham.hanSuDung}}</td>
                      <td>{{sanPham.quyCach}}</td>
                      <td>{{sanPham.ngayDangKy}}</td>
                      <td>{{sanPham.ngaySanXuat}}</td>
                  
                    </tr>
                  </tbody>
                </table>
              </div>
             
          </div>
      </div>
  </section>

  <section class="content-body">
    <div class="card shadow-lg p-3 m-5 bg-white rounded">
        <div class="card-body">
            <div class="row d-flex flex-row">
                <div class="col-5">
                    <h5>Danh mục các sản phẩm có hạn sử dụng trên số năm từ ngày sản xuất:</h5>
                </div>
                <div class="col-3">
                  <input [(ngModel)]="soNamSuDung" type="number"/>
              </div>
                <div class="col-3">
                    <button class="btn bg-primary text-white" (click)="getSanPhamHanSuDungTrenSoNam()">Tìm</button>
                </div>
            </div>

            <div class="row">
              <table class="table" >
                <thead>
                  <tr>
                    <th scope="col">Mã sản phẩm</th>
                    <th scope="col">Tên sản phẩm</th>
                    <th scope="col">Số đăng ký</th>
                    <th scope="col">Hạn sử dụng</th>
                    <th scope="col">Quy cách</th>
                    <th scope="col">Ngày đăng ký</th>
                    <th scope="col">Ngày sản xuất</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let sanPham of sanPhamsCoHanSuDung">
                    <td>{{sanPham.maSanPham}}</td>
                    <td>{{sanPham.tenSanPham}}</td>
                    <td>{{sanPham.soDangKy}}</td>
                    <td>{{sanPham.hanSuDung}}</td>
                    <td>{{sanPham.quyCach}}</td>
                    <td>{{sanPham.ngayDangKy}}</td>
                    <td>{{sanPham.ngaySanXuat}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
           
        </div>
    </div>
</section>

    <h2>Tất cả sản phẩm</h2>
    <div>
      <table class="table" >
        <thead>
          <tr>
            <th scope="col">Mã sản phẩm</th>
            <th scope="col">Tên sản phẩm</th>
            <th scope="col">Số đăng ký</th>
            <th scope="col">Hạn sử dụng</th>
            <th scope="col">Quy cách</th>
            <th scope="col">Ngày đăng ký</th>
            <th scope="col">Ngày sản xuất</th>
            <th scope="col">Sự kiện</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sanPham of sanPhams | async; let i = index">
            <td>{{sanPham.maSanPham}}</td>
            <td>{{sanPham.tenSanPham}}</td>
            <td>{{sanPham.soDangKy}}</td>
            <td>{{sanPham.hanSuDung}}</td>
            <td>{{sanPham.quyCach}}</td>
            <td>{{sanPham.ngayDangKy}}</td>
            <td>{{sanPham.ngaySanXuat}}</td>
            <td>
                <button class="btn btn-secondary" style="margin: 5px;" (click)="editSanPham(sanPham)">Sửa</button>
                <button type="button" class="btn btn-danger" data-toggle="modal" 
                (click)="deleteSanPham(sanPham)">
                  Xóa
                </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id="modalOneSanPham" class="modal">
      <div class="modal-content">
        <div class="contact-form">
          <a class="close" (click)="closePopup()">&times;</a>
      <form action="/" id="form_create_cong_viec">
        <h2>Tạo mới sản phẩm</h2>
        <div>
          <input class="fname" type="text" name="tenSanPham" [(ngModel)]="sanPhamNew.tenSanPham" placeholder="Tên sản phẩm">
          <input  type="text" name="soDK" [(ngModel)]="sanPhamNew.soDangKy" placeholder="Số đăng ký">
          <a>Hạn sử dụng</a>
          <input  type="date" name="hanSuDung" [(ngModel)]="sanPhamNew.hanSuDung" placeholder="Hạn sử dụng">
          <input  type="text" name="quyCach" [(ngModel)]="sanPhamNew.quyCach" placeholder="Quy Cách">
          <a>Ngày đăng ký</a>
          <input  type="date" name="ngayDangKy" [(ngModel)]="sanPhamNew.ngayDangKy" placeholder="Ngày đăng ký">
          <a>Ngày sản xuất</a>
          <input  type="date" name="ngaySanXuat" [(ngModel)]="sanPhamNew.ngaySanXuat" placeholder="Ngày sản xuất">
        </div>
        <button type="submit" (click)="insertSanPhamToDb()">Tạo sản phẩm</button>
        <button style="margin-top: 15px;" (click)="closePopup()">Hủy</button>
      </form>
        </div>
      </div>
    </div>


    <div id="modalOneSanPhamUpdate" class="modal">
      <div class="modal-content">
        <div class="contact-form">
          <a class="close" (click)="closePopup()">&times;</a>
      <form action="/" id="form_create_cong_viec">
        <h2>Sửa sản phẩm</h2>
        <div>
          <a>Tên sản phẩm</a>
          <input class="fname" type="text" name="tenSanPham" [(ngModel)]="sanPhamUpdate.tenSanPham" placeholder="Tên sản phẩm">
          <a>Số đăng ký</a>
          <input  type="text" name="soDangKy" [(ngModel)]="sanPhamUpdate.soDangKy" placeholder="Số đăng ký">
          <a>Hạn sử dụng</a>
          <input  type="date" name="hanSuDung" [(ngModel)]="hanSuDung">
          <a>Quy cách</a>
          <input  type="text" name="quyCach" [(ngModel)]="sanPhamUpdate.quyCach" placeholder="Quy Cách">
          <a>Ngày đăng ký</a>
          <input  type="date" name="ngayDangKy" [(ngModel)]="ngayDangKy">
          <a>Ngày sản xuất</a>
          <input  type="date" name="ngaySanXuat" [(ngModel)]="ngaySanXuat">
        </div>
        <button type="submit" (click)="updateSanPhamToDb()">Sửa sản phẩm</button>
        <button style="margin-top: 15px;" (click)="closePopup()">Hủy</button>
      </form>
        </div>
      </div>
    </div>

  </body>
</html>