<html>
  <head>
    <style>
      table, td, th {
        border: 1px solid black;
      }
      
      table {
        width: 90%;
        border-collapse: collapse;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }
    </style>
  </head>
  <body>
    <section class="content-body">
      <div class="card shadow-lg p-3 m-5 bg-white rounded">
          <div class="card-body">
              <div class="row d-flex flex-row">
                  <div class="col-6">
                      <h5>NKSLK của công nhân theo tháng:</h5>
                      <br/>
                  </div>
                  <div class="col-3">
                      <input [(ngModel)]="month" type="number" min="1" max="12">
                  </div>
                  <div class="col-3">
                      <button class="btn bg-primary text-white" (click)="getAllCongNhanThang()">Lấy</button>
                  </div>
              </div>
              <div class="row">
                  <!-- table -->
                  <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Họ tên</th>
                          <th scope="col">Ngày sinh</th>
                          <th scope="col">Phòng ban</th>
                          <th scope="col">Chức vụ</th>
                          <th scope="col">Giới tính</th>
                          <th scope="col">Tháng</th>
                          <th scope="col">Xem</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let nhancong of nhancongthang">
                          <td>{{nhancong.hoTen}}</td>
                          <td>{{nhancong.ngaySinh}}</td>
                          <td>{{nhancong.phongBan}}</td>
                          <td>{{nhancong.chucVu}}</td>
                          <td>{{nhancong.gioiTinh}}</td>
                          <td>{{nhancong.ngayNKSLK}}</td>
                          <td>
                              <button class="btn bg-light" (click)="openNKSLKDetail(nhancong)">
                                  Chi tiết
                              </button>
                          </td>
                        </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </section>
  </body>
</html>